<div>
    <h3 align="center">Zvanični rekviziti</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Opis</th>
                <th>Cena</th>
                <th>Objekat</th>
                <th>Slika</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="prop in FanZoneAdminOfficialPropsCtrl.officialProps">
                <td>{{prop.name}}</td>
                <td>{{prop.description}}</td>
                <td>{{prop.price}}</td>
                <td>{{prop.establishment.name}}</td>
                <td><img ng-src="{{prop.imagePath}}"/></td>
                <td><button type="button" ng-click="FanZoneAdminOfficialPropsCtrl.deleteProp(prop)">Ukloni</button></td>
                <td><button type="button" ng-click="FanZoneAdminOfficialPropsCtrl.updateProp(prop)">Izmeni</button></td>
            </tr>
        </tbody>
    </table>
</div>