<table id="establishment">
    <caption>Bioskopi</caption>
    <thead>
        <tr>
            <th scope="col">Ime</th>
            <th scope="col">Adresa</th>
            <th scope="col">Grad</th>
            <th scope="col">Repertoar</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cinema in CinemasCtrl.cinemas">
            <td>{{cinema.name}}</th>
            <td>{{cinema.address}}</td>
            <td>{{cinema.city}}</td>
            <td>
               <a ng-href="#!repertoar/{{cinema.id}}/0">
                    <button class="btn btn-default">Prikazi</button>
               </a>
            </td>
            <td ng-if="$root.user != null && $root.user.role === 'ESTABLISHMENT_ADMIN'">
                <a ng-href="#!ustanova/{{cinema.id}}/izmena">
                    <button class="btn btn-warning">Ažuriraj</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>