<table id="establishment">
    <caption>Pozorišta</caption>
    <input type="text" ng-model="search" placeholder="Pretraga..">
    <thead>
        <tr>
            <th scope="col">Ime</th>
            <th scope="col">Adresa</th>
            <th scope="col">Grad</th>
            <th scope="col">Repertoar</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="theatre in TheatresCtrl.theatres | filter : search" >
            <td>{{theatre.name}}</th>
            <td>{{theatre.address}}</td>
            <td>{{theatre.city}}</td>
            <td>
               <a ng-href="#!repertoar/{{theatre.id}}">
                    <button class="btn btn-default">Prikazi</button>
               </a>
            </td>
            <td>
                <a ng-href="#!ustanova/{{theatre.id}}/izmena">
                    <button class="btn btn-warning">Ažuriraj</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>