<div>
    <h3 align="center">Registracija novog bioskopa</h3>
	<form class="form-horizontal">
		<div>
			<label class="control-label">Naziv bioskopa:</label> 
			<input type="text" class="form-control"
				ng-model="NewCinemaCtrl.cinema.name">
		</div>
		<div>
			<label class="control-label">Grad:</label>
			<input name="name" class="form-control" ng-model="NewCinemaCtrl.cinema.city">
		</div>
		<div>
			<label class="control-label">Adresa:</label> 
			<input name="lastname" class="form-control" ng-model="NewCinemaCtrl.cinema.address">
		</div>
		<div>
			<label class="control-label">Administratori bioskopa:</label>
			<select class="form-control"
					ng-options="admin as admin.email for admin in NewCinemaCtrl.admins track by admin.id"
					ng-model="NewCinemaCtrl.cinema.admin"/>
		</div> 
		<div>
			<button class="btn btn-default" name="register" ng-click="NewCinemaCtrl.register(NewCinemaCtrl.cinema)">Kreiraj</button>
		</div>
	</form>
</div>